
<div *ngIf="role">
    <h2><span jhiTranslate="sampleApp.role.detail.title">Role</span> {{role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sampleApp.role.name">Name</span></dt>
        <dd>
            <span>{{role.name}}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.role.authorities">Authorities</span></dt>
        <dd>
            <span *ngFor="let authorities of role.authorities; let last = last">
                <a [routerLink]="['/authority', authorities?.id ]">{{authorities.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'role/'+ role.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
